{% load static %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"><span>Main</span></li>
                <li>
                    <a href="{% url 'official:officialhome' %}"><i class="fa fa-home"></i><span>Dashboard</span></a>
                </li>
                <li>
                    <a href="{% url 'official:customerlist' %}"><i class="fa fa-users"></i> <span>Customers List</span></a>
                </li>
                <li>
                    <a href="{% url 'official:newuserreg' %}"><i class="fa fa-user"></i> <span>New User</span></a>
                </li>
                <li>
                    <a href="{% url 'official:banners' %}"><i class="fa fa-signs-post"></i> Home Page Banner</a>
                </li>
                <li>
                    <a href="{% url 'official:socialmedialinks' %}"><i class="fa-brands fa-facebook-f"></i> <span>Social Media Links </span></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-user"></i> <span>Profile </span></a>
                </li>
                <li>
                    <a href=""><i class="fa fa-gear"></i> <span>Settings</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>